body{
    display: flex;
    background-color:rgb(220, 245, 228) ;
    justify-content:center ;

    
}
.main{
    display:flex ;
    flex-direction: column;
    justify-content:center ;
    background-color: aliceblue;
   align-items:center ;
    border: 2px;
    border-radius: 30px;
    width: 280px; 
    height: 300px; 


}
.row{
    display: flex;
    justify-content: flex-end;
}
    
    
     .container{
        display: flex;
        flex-direction: row;
     }
.search{
    width: 200px;
    height: 200px;
    display: flex;

}
button{
    content: counter(name);
    background-color:white ;
    border: 0;
    border-radius:10px;
    
}

